<nav>
  <a routerLink="/home">Home</a> |
  <a routerLink="/account">Account</a> |
  @if (user()) {
  <span>{{ user()?.auth?.email }}</span> |
  <a routerLink="/auth/login" (click)="logout()">Logout</a>
  }
  @if (user() && !user()?.auth?.emailVerified) {
  <div>Please verify your email
    <button (click)="resendEmailVerification()" [disabled]="status()[0]">
      {{ status()[0] ? 'Sending...' : 'Send verification email' }}
    </button>
  </div>
  }
  @if (status()[1]) {
  <p>{{ status()[1] }}</p>
  } @else if (status()[2]) {
  <p>{{ status()[2] }}</p>
  }
</nav>

<router-outlet></router-outlet>