<h2>Profile</h2>
<div>
  <form [formGroup]="nameForm" (ngSubmit)="saveName()">
    <label for="displayName">Name:</label>
    <input id="displayName" formControlName="displayName" (ngModelChange)="nameHasChanged.set(true)" />
    @if (nameForm.invalid && nameForm.touched) {
    <p *ngIf="nameForm.get('displayName')?.errors?.['minlength']">Name must be between 6 and 32 characters</p>
    }
    <button [disabled]="!nameHasChanged() || dbStatus()[0]" type="submit">{{ dbStatus()[0] ? 'Saving...' : 'Save'
      }}</button>
  </form>
</div>