<h2>Email</h2>
<div>
  <p>Current Email: {{ email() }}</p>
  @if (showUpdate()) {
  <form [formGroup]="changeEmailForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="newEmail">New Email:</label>
      <input type="email" id="newEmail" formControlName="newEmail">
      @if (changeEmailForm.get('newEmail')?.invalid && changeEmailForm.get('newEmail')?.touched) {
      <small *ngIf="changeEmailForm.get('newEmail')?.errors?.['required']">Email is required.</small>
      <small *ngIf="changeEmailForm.get('newEmail')?.errors?.['email']">Invalid email address.</small>
      }
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
      @if (changeEmailForm.get('password')?.invalid && changeEmailForm.get('password')?.touched) {
      <small *ngIf="changeEmailForm.get('password')?.errors?.['required']">Password is required.</small>
      }
    </div>
    <button type="submit" [disabled]="!changeEmailForm.valid || dbStatus()[0]">
      {{ dbStatus()[0] ? 'Working...' : 'Update Email' }}
    </button>
  </form>
  }
  @if (dbStatus()[1]) {
  <p>{{ dbStatus()[1] }}</p>
  } @else if (dbStatus()[2]) {
  <p>{{ dbStatus()[2] }}</p>
  } @else {
  <button (click)="toggleUpdate()">{{ showUpdate() ? 'Cancel' : 'Update' }}</button>
  }
</div>