<h2>Reset Password</h2>
@if (errorMessage) {
<p>{{ errorMessage }}</p>
}
@if (successMessage) {
<p>{{ successMessage }}</p>
<p><a routerLink="/auth/login">Login</a></p>
}
<form *ngIf="!successMessage" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="password">New password:</label>
    <input type="password" id="password" formControlName="password">
    <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
      <small *ngIf="resetPasswordForm.get('password')?.errors?.['required']">Password is required.</small>
      <small *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters
        long.</small>
    </div>
  </div>
  <button type="submit" [disabled]="resetPasswordForm.invalid || isLoading">{{ isLoading ? 'Resetting password...' :
    'Reset Password' }}</button>
</form>