<h2>Forgot Password</h2>
<form *ngIf="!successMessage()" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
      <small *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</small>
      <small *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Please enter a valid email address.</small>
    </div>
  </div>
  <button type="submit" [disabled]="forgotPasswordForm.invalid || isLoading()">{{ isLoading() ? 'Requesting...' :
    'Request Reset'
    }}</button>
</form>

@if (successMessage()) {
<p>{{ successMessage() }}</p>
}