<h2>Change Password</h2>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="password">Current Password</label>
    <input type="password" id="password" formControlName="password">
    @if (changePasswordForm.get('password')?.invalid && changePasswordForm.get('password')?.touched) {
    <small *ngIf="changePasswordForm.get('password')?.errors?.['required']">Password is required.</small>
    }
  </div>
  <div>
    <label for="newPassword">New Password</label>
    <input type="password" id="newPassword" formControlName="newPassword">
    @if (changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched) {
    <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">Password is required.</small>
    <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">Password must be at least 8 characters
      long.</small>
    }
  </div>
  <button type="submit" [disabled]="changePasswordForm.invalid || dbStatus()[0]">{{ dbStatus()[0] ? 'Changing...' :
    'Change Password' }}</button>
</form>
@if (dbStatus()[0]) {
<p>Updating...</p>
} @else if (dbStatus()[1]) {
<p>{{ dbStatus()[1] }}</p>
} @else if (dbStatus()[2]) {
<p>{{ dbStatus()[2] }}</p>
}