<h1>{{ dictionary() }}</h1>
<form [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" />
    @if (authForm.get('email')?.invalid && authForm.get('email')?.touched) {
    <div>
      <small *ngIf="authForm.get('email')?.errors?.['required']">Email is required.</small>
      <small *ngIf="authForm.get('email')?.errors?.['email']">Invalid email format.</small>
    </div>
    }
  </div>

  <div *ngIf="mode() != 'forgot'">
    <label for="password">Password:</label>
    <input id="password" formControlName="password" type="password" />
    @if (authForm.get('password')?.invalid && authForm.get('password')?.touched) {
    <div>
      <small *ngIf="authForm.get('password')?.errors?.['required']">Password is required.</small>
      <small *ngIf="authForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters
        long.</small>
    </div>
    }
  </div>

  <button type="submit" [disabled]="authForm.invalid">{{ dictionary() }}</button>
</form>
<a *ngIf="mode() != 'signup'" [routerLink]="['/auth', 'signup']">Signup</a>
<a *ngIf="mode() != 'login'" [routerLink]="['/auth', 'login']">Login</a>
<a *ngIf="mode() != 'forgot'" [routerLink]="['/auth', 'forgot']">Forgot password</a>