<h1>Account</h1>
@if (dbStatus()[0]) {
<p>Updating...</p>
} @else if (dbStatus()[1]) {
<p>{{ dbStatus()[1] }}</p>
} @else {
<p>{{ dbStatus()[2] }}</p>
}
<app-profile-edit [account]="account()" [dbStatus]="dbStatus()" (onUpdate)="updateAccount($event)"></app-profile-edit>
<hr>

<app-avatar-edit [user]="user()" (onUpdate)="updateAccount($event)" [dbStatus]="dbStatus()"></app-avatar-edit>
<hr>
<app-change-email></app-change-email>
<hr>
<app-change-password></app-change-password>
<hr>
<h2>Delete Account</h2>
<p>delete account</p>